.characterCard {
  background: #2b2b4e;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-gap: 1em;
  border-radius: 1em;
  height: 13em;
  max-width: 400px;
}

.characterCardImage {
  height: inherit;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.characterCardInfo {
  text-align: left;
  display: grid;
  padding: 1em;
}

.characterCardInfo * {
  margin: 0;
}
